services:
  postgres:
    image: postgres:17
    restart: always
    env_file:
      - ./server/.env
    volumes:
      - postgres_17_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - coop-nest-network

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - coop-nest-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - redis
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    command: >
      sh -c "
        npm install &&
        npx prisma migrate deploy --schema=prisma/schema.prisma &&
        npm run dev
      "
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - coop-nest-network
    environment:
      - NODE_ENV=development

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    depends_on:
      - server
    ports:
      - "3000:3000" 
    command: >
      sh -c "
        npm install &&
        npm run dev
      "
    volumes:
      - ./client:/app
      - /app/node_modules
    networks:
      - coop-nest-network
    environment:
      - NODE_ENV=development

volumes:
  postgres_17_data:

networks:
  coop-nest-network:
    driver: bridge